.radix-themes {
	--system-sans-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI (Custom)', Roboto, 'Helvetica Neue', 'Open Sans (Custom)', system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
	--system-code-font-family: 'Menlo', 'Consolas (Custom)', 'Bitstream Vera Sans Mono', monospace, 'Apple Color Emoji', 'Segoe UI Emoji';

	--default-font-family: var(--font-inter), var(--font-noto-sans-sc), var(--system-sans-font-family);
	--code-font-family: var(--font-dm-mono), var(--font-noto-sans-sc), var(--system-code-font-family);
	--em-font-family: var(--default-font-family);
	--quote-font-family: var(--default-font-family);


	--font-weight-light: 300;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-bold: 700;
}
