@import '@repo/ui/styles.css';
@import '@repo/ui/shadcn.css';

:root {
	--font-sans: var(--font-inter), var(--font-noto-sans-sc), -apple-system, BlinkMacSystemFont,
		'Segoe UI (Custom)', Roboto, 'Helvetica Neue', 'Open Sans (Custom)', system-ui, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji';
	--font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
	--font-mono: var(--font-dm-mono), var(--font-noto-sans-sc), 'Menlo', 'Consolas (Custom)',
		'Bitstream Vera Sans Mono', monospace, 'Apple Color Emoji', 'Segoe UI Emoji';
}
