@import 'tailwindcss';
@import 'tw-animate-css';

/* Allow font customization */
@theme inline {
	--font-sans: var(
		--font-sans,
		ui-sans-serif,
		system-ui,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol',
		'Noto Color Emoji'
	);
	--font-serif: var(--font-serif, ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif);
	--font-mono: var(
		--font-mono,
		ui-monospace,
		SFMono-Regular,
		Menlo,
		Monaco,
		Consolas,
		'Liberation Mono',
		'Courier New',
		monospace
	);
}

@layer utilities {
	.scrollbar-none::-webkit-scrollbar {
		display: none;
	}
	.scrollbar-none {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}
